//colors
$greey: #8fd021;
$components-orenge: #faad3d;

//Viewports
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1180px;

//fonts
$default-font: "OpanSans-regular", "Arial", sans-serif;
